body {
  background-color: #f0f0f0;
}

.image {
  max-width: 100%;
  border-radius: 5px;
}

header {
  background-color: #552b81;
  color: white;
  width: 100%;
}

.head {
  font-size: 24px;
  font-weight: 400;
}

input {
  height: 2rem;
}

input,
textarea {
  border: 1px solid lightgray;
  border-radius: 5px;
}

input:focus,
textarea:focus {
  outline-color: #552b81;
}

.notes {
  width: 100%;
}

button,
.newButton {
  color: white;
  background-color: #552b81;
  border: none;
  width: 60px;
  height: 25px;
  border-radius: 5px;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.6;
}

.newButton {
  text-decoration: none;
  text-align: center;
  padding-top: 5px;
  font-size: 13.33px;
  font-weight: 400;
  margin-top: 25px;
}

.padding-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.margin-bot-25 {
  margin-bottom: 25px;
}

.width-100 {
  width: 100%;
}

.padding-right-0 {
  padding-right: 0;
}

.padding-left-0 {
  padding-left: 0;
}

.remove-bullet {
  list-style-type: none;
}

.margin-none {
  margin: 0;
}
